.mantine-Table-table {
  tr[data-on-row-click] {
    &:hover {
      cursor: pointer;
    }
  }

  tbody {
    & > tr {
      &:last-of-type {
        &[data-with-row-border] {
          --_tr-border-bottom: rem(1px) solid var(--_table-border-color) !important;
        }
      }
    }
  }

  tfoot {
    & > tr {
      &:last-of-type {
        &[data-with-row-border] {
          --_tr-border-bottom: none;
        }
      }
    }
  }

  &[data-sticky-foot] {
    position: absolute;
    z-index: 10;
    background-color: var(--mantine-color-body);
    width: 100%;
  }
}
